/* nav styles */
nav{
    background-color:rgba(0, 0, 0, .5);
    position: relative;
    height: 150px;
    z-index: -2;
    /* border-bottom: 1px solid rgb(62, 62, 62); */
}

img{
    width: 200px;
    height: 200px;
}
.title{
    color: white;
    font-weight: 600px;
}
@media (min-width:576px) and (max-width:992px){
    img{
        width: 120px;
        height: auto;
        vertical-align: top;
        }
    .title{
        width: 50%;
        margin-right: 60px;
        font-size: 40px;
    }
}
@media(max-width:992px){
    nav{
        height: 100px;
    }
    nav ul{
        background-color: black;
     }
        nav ul a{
        display: block;
        width: 100%;
     }
        nav ul a:hover{
        background-color: var(--mainColor);
     }
     nav li.loginBtn div li{
        display: none;  
     }
}
@media (min-width:992px){
    nav ul a{
    display: none;
 }
 
}

@media(max-width:576px){
    img{
        width: 100px;
        height: 100px;
    }
    .title{
        font-size: 30px;
    }
}

@media(min-width:1000px){
    .title{
        width: 100%;
    }
    .title{
        font-size: 50px;
    }
}

nav a{
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
 }

.btn{
    color: white;
    border: 3px solid white;
    background-color: #AACC00;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    transition: all .2s;
}
.btn:hover{
    border: 3px solid white;
    color: #AACC00;
    background-color: white;  
}


/* lighting styles */
.lightyellowH{
    width:130px;
    height: 130px;
    background-color: #BFD200;
    border-radius: 50%;
    filter: blur(30px);  
    position: absolute; 
    left: 1100px;
    opacity: .7; 
    z-index:-1 ;
    transition: all 10s;
    transform: translateX(-100px);
    animation-name: firstLight;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.lightgreenH{
    width:130px;
    height: 130px;
    background-color: #007F5F;
    border-radius: 50%;
    filter: blur(30px); 
    opacity: .7; 
    position: absolute; 
    z-index:-1 ;
    animation-name: secondLight;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}

@media(min-width:1264px){
    @keyframes firstLight{
        0%{
           left: 1200px;
           background-color: #BFD200;
        }
        50%{
            left: 100px;
            background-color: #007F5F;
        }
        100%{
           left: 1200px;
           background-color: #BFD200;
        }
    
    }
    
    @keyframes secondLight{
        0%{
           left: 100px;
           background-color: #007F5F;
    
        }
        50%{
            left: 1300px;
            background-color: #BFD200;
    
        }
        100%{
            left: 100px;
            background-color: #007F5F;
        }
    }  
}
@media (min-width:990px)and (max-width:1264px){
    @keyframes firstLight{
        0%{
           left: 800px;
           background-color: #BFD200;
        }
        50%{
            left: 100px;
            background-color: #007F5F;
        }
        100%{
           left: 800px;
           background-color: #BFD200;
        }
    
    }
    
    @keyframes secondLight{
        0%{
           left: 100px;
           background-color: #007F5F;
    
        }
        50%{
            left: 800px;
            background-color: #BFD200;
    
        }
        100%{
            left: 100px;
            background-color: #007F5F;
        }
    }  
}
@media  (min-width:576px) and (max-width:990px){
    .lightgreenH{
        width: 90px;
        height: 90px;
    }
    .lightyellowH{
        width: 90px;
        height: 90px;
    }
    @keyframes firstLight{
        0%{
           left: 400px;
           background-color: #BFD200;
        }
        50%{
            left: 100px;
            background-color: #007F5F;
        }
        100%{
           left: 400px;
           background-color: #BFD200;
        }
    
    }
    
    @keyframes secondLight{
        0%{
           left: 100px;
           background-color: #007F5F;
    
        }
        50%{
            left: 400px;
            background-color: #BFD200;
    
        }
        100%{
            left: 100px;
            background-color: #007F5F;
        }
    }  
}
@media  (max-width:576px){
    .lightgreenH{
        width: 80px;
        height: 80px;
    }
    .lightyellowH{
        width: 80px;
        height: 80px;
    }
    @keyframes firstLight{
        0%{
           left: 250px;
           background-color: #BFD200;
        }
        50%{
            left: 100px;
            background-color: #007F5F;
        }
        100%{
           left: 250px;
           background-color: #BFD200;
        }
    
    }
    
    @keyframes secondLight{
        0%{
           left: 100px;
           background-color: #007F5F;
    
        }
        50%{
            left: 250px;
            background-color: #BFD200;
    
        }
        100%{
            left: 100px;
            background-color: #007F5F;
        }
    }  
}