
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="nav-content" class="container-fluid">
        <img src="assets/Icon.png" alt="logo">
        <!-- <h2 class="title text-center" aria-current="page">DATE PALM CLINIC</h2> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
          <li class="nav-link text-center">
            <h1 style="color: white; font-size: 45px; padding: 0 20px 0 20px;" aria-current="page">DATE PALM CLINIC</h1>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/homePage']" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/diagnosis']" aria-current="page">Diagnosis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/Consultation']" routerLinkActive="router-link-active"  aria-current="page">Free Consultations</a>
          </li>
          <li class="nav-item" *ngIf="!this.isLoggedIn">
            <a class="nav-link active" [routerLink]="['/login']" routerLinkActive="router-link-active"  aria-current="page">login <mat-icon style="font-size: 20px; width: 20px; height: 20px; vertical-align: middle;">login</mat-icon></a>
          </li>
          <li class="nav-item" *ngIf="this.isLoggedIn"  (click)="logout()">
            <a class="nav-link active"   aria-current="page">logout <mat-icon style="font-size: 20px; width: 20px; height: 20px; vertical-align: middle;">logout</mat-icon></a>
          </li>
        </ul>
        <li class="loginBtn d-flex justify-content-between align-items-center " style="width: 220px;">
           <div class="d-flex justify-content-between align-items-center" style="width: 100%; text-align: center;">
            <li class="nav-item"  *ngIf="!this.isLoggedIn">
             <a  style="font-size: 25px; margin-bottom: 30px; color: white;" class="nav-link active" [routerLink]="['/login']" routerLinkActive="router-link-active"  aria-current="page">login <mat-icon style="font-size: 20px; width: 20px; height: 20px; vertical-align: middle;">login</mat-icon></a>
            </li> 
            <li class="nav-item " (click)="logout()" *ngIf="this.isLoggedIn">
             <a style="font-size: 20px; margin-bottom: 30px; color: white;" class="nav-link active"  aria-current="page"> logout<mat-icon style=" vertical-align: middle;">logout</mat-icon></a>
            </li>
             <button [hidden]="this.english" (click)="translateAr()" class="btn">arabic</button>
             <button [hidden]="!this.english" (click)="translateEn()" class="btn">english</button>
           </div>
        </li > 
      </div>
    </div>
    <div class="lightyellowH"></div>
    <div class="lightgreenH"></div>
</nav>

