
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="assets/Icon.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <h1 class="nav-link active" aria-current="page">PALM CLINIC</h1>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/Consultation']" routerLinkActive="router-link-active"  aria-current="page">Free Consultations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/homePage']" aria-current="page">Home</a>
          </li>
        </ul>
        <li class=" d-flex justify-content-between align-items-center " style="width: 220px;">
           <div style="width: 100%; text-align: center;">
             <button class="btn"><mat-icon>translate</mat-icon></button> 
           </div>
        </li > 
      </div>
    </div>
    <div class="lightyellow"></div>
    <div class="lightgreen"></div>
</nav>

