
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#"><img src="assets/Icon.png" style="width: 200px; height: 200px;" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <h1 class="nav-link active" aria-current="page">PALM CLINIC</h1>
          </li>
        </ul>
           <!-- <button class="btn "><mat-icon>brightness_2</mat-icon></button> -->
         <div style="width: 220px;">
          <button class="btn "><mat-icon>translate</mat-icon></button>
         </div> 
           <!-- <a class="nav-link active" aria-current="page">SIGN IN</a> --> 
      </div>
    </div>
    <div class="lightyellow"></div>
    <div class="lightgreen"></div>
</nav>

