<div class="btn">
    <button (click)="showConsult()" class="mainBtn">showConsultations</button>
</div>
<section class="container-fluid">
  <div class="data">
      <table class="table table-striped">
        <thead>
            <tr>
                <th>datetime</th>
                <th>Name</th>
                <th>Title</th>
                <th>Phone</th>
                <th>Email</th>
                <th>message</th>
                <th>Suggestions</th>
                <th>photos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of userConsultations ; let i = index">
                <td>{{item.datetime}}</td>
                 <td>{{item.name}}</td>
                 <td>{{item.title}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.email}}</td>
                <td>{{item.messsage}}</td>
                <td>{{item.suggestions}}</td>
                <td style="display: flex; justify-content: center;">
                    <img *ngFor="let photo of item.photoURL" [src]="photo" alt="" width="100px" height="100px">
                </td>
            </tr>
            <!-- <tr>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
            </tr>
            <tr>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
            </tr>
            <tr>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
            </tr>
            <tr>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
            </tr>
            <tr>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td style="display: flex; justify-content: center;"><img src="assets/buds.jpg" alt="" width="100px" height="100px">
                    <img src="assets/buds.jpg" alt="" width="100px" height="100px">
                    <img src="assets/buds.jpg" alt="" width="100px" height="100px">
                </td>
            </tr> -->
        </tbody>
      </table>
  </div>
        
</section>