<section class="container-fluid">
  <div class="data">
      <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Phone</th>
                <th>Email</th>
                <th>message</th>
                <th>Suggestions</th>
                <th>photos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>mohamed</td>
                <td>researcher</td>
                <td>01030663203</td>
                <td>mohamedgmail.com</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aperiam, maxime ipsam repellendus quidem consectetur neque odit, animi, sed aliquam laudantium asperiores temporibus molestias explicabo similique quas eum quod minus?</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ipsa, non quidem a accusantium temporibus nihil rem, reiciendis voluptatibus sint at laborum alias vitae commodi eum modi vel! Ad, vitae!</td>
                <td>message</td>
            </tr>
            <tr>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
            </tr>
            <tr>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
            </tr>
            <tr>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
            </tr>
            <tr>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
            </tr>
            <tr>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td>message</td>
                <td style="display: flex; justify-content: center;"><img src="assets/buds.jpg" alt="" width="100px" height="100px">
                    <img src="assets/buds.jpg" alt="" width="100px" height="100px">
                    <img src="assets/buds.jpg" alt="" width="100px" height="100px">
                </td>
            </tr>
        </tbody>
      </table>
  </div>
        
</section>