
        <section class="body mt-5" #body [class.blur-body]="isModelNull == true">
                <section class="organs container">
                        <div class="row">
                            <div style="text-align: center;"   class="col-md-4 col-12 card organ-content" (click)="getOrgan(organ.id)" class="col" *ngFor="let organ of symptomsList; let i = index" (click)="setActive(i)"  style="width: 18rem; padding: 5px; text-align: center;">
                                    <img style="border-radius: 20px;" [class.disabled]="activeIndex !== -1 && activeIndex !== i" [class.active]="activeIndex === i" (click)="setActive(i)" [src]="organ?.imgUrl" class="card-img-top img" height="70%" alt="...">
                                    <div class="card-body cont">
                                        <h4  style="color: white; cursor: pointer;" class="card-title">{{organ.name}}</h4>
                                    </div>
                            </div>
                            <section class="popup">
                                <div class="progress container">
                                    <div #progressLine class="progress-Line"></div>
                                </div>
                                <div [hidden]="!selected" class="msg">
                                   <mat-icon  style="line-height: 30px; width: 30px; height: 21px;">check</mat-icon> symptom selected! 
                                 </div>
                                <div [hidden]="!removed" class="msg">
                                   <mat-icon  style="line-height: 30px; width: 30px; height: 21px;">close</mat-icon> symptom removed! 
                                 </div>
                            </section>
                        </div>  
                    </section>
                   


                   
                <!--<div class="container pt-5 pb-5 mb-2" style="height: 550px;">
                        <div class="row par">
                            <div (click)="getOrgan(organ.id)" class="col" *ngFor="let organ of symptomsList; let i = index" >
                                <img [class.disabled]="activeIndex !== -1 && activeIndex !== i" [class.active]="activeIndex === i" [src]="organ.imgUrl" (click)="setActive(i)" alt="img" width="100%" height="100%" style="border-radius: 20px;"><h2>{{organ.name}}</h2>
                            </div>
                        </div>
                </div> -->
                <div class="symptoms container">
                    <div class="row container">
                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 symptoms-content container-sm-fluid container-md-fluid">
                                <div *ngFor="let symptom of sympts ;let i = index">
                                    <div *ngIf="symptom"> 
                                        <h3 (click)="showRelatedS(i)"> 
                                            <span [class.disabled]="isSymptomSelected(symptom)"> {{symptom}}</span>
                                            <button  [hidden]="isSymptomSelected(symptom)"  (click)="selectSympt(i)"  *ngIf="activeIndex !== 1 " class="btn btns" ><mat-icon style="font-weight: 600;">check</mat-icon></button>
                                            <button  [hidden]="!isSymptomSelected(symptom)" (click)="removeSympt(i)"  *ngIf="activeIndex !== 1 " class="btn btns" ><mat-icon style="font-weight: 600;">close</mat-icon></button>
                                            <!-- <input [checked]="selectSympt(i)" [hidden]="activeIndex === 1" type="checkbox" > -->
                                            <span [class.rotate]="activeRelatedS === i" #arrow *ngIf="activeIndex === 1"><mat-icon style="font-weight: 900; font-size: 30px; width: 50px; text-align: center;" >east</mat-icon></span>
                                        </h3>
                                    </div>
                                </div>
                               
                                <div class="lightyellow light"></div>
                                <div class="lightgreen light"></div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                                <div  *ngFor="let rSympts of relatedSympts ; let i = index">
                                    <h3 *ngIf="rSympts && i === relatedSympt" class="rs" [class.show]="rSympts" >
                                        <span>    {{rSympts}}   </span>
                                        <button [hidden]="isRsymptomSelected(rSympts)" (click)="selectRsympt(i)" class="btns"><mat-icon style="font-weight: 600;">check</mat-icon></button>
                                        <button [hidden]="!isRsymptomSelected(rSympts)" (click)="removeRsympt(i)"  class="btns" ><mat-icon style="font-weight: 600;">close</mat-icon></button>
                                    </h3> 
                                </div>
                        </div>
                        <div class="row ms-1">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-10 col-12 navigations">
                                <span (click)="previous(organ?.id)"><mat-icon style="width: 30px; font-size: 30px;">west</mat-icon></span>
                                <span (click)="next(organ?.id)"><mat-icon style="width: 30px; font-size: 30px;">east</mat-icon></span>
                            </div>
                            <div [hidden]="activeIndex !== 4" class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-12">
                                <button (click)="showResult()" type="submit" class="submitBtn">Show diagnosis</button>
                            </div>
                        </div>   
                    </div>     
                </div>
               
        </section>
        <section *ngIf="isModelNull && this.loading === false" class="Results container" >
                <div class="Result-content">
                        <p>{{this.Result?.e_Message | json}}</p>
                        <div class="results-btns row">
                            <button (click)="redefine()" class="btn col">
                                redefine
                            </button>
                            <button class="btn col">
                                consultant
                            </button>
                        </div>
                </div>
        </section>
        <button [hidden]="scrolled == false" (click)="goUpward()" #myButton class="up"><mat-icon style="width: 30px; font-size: 30px;">north</mat-icon>
        </button> 

        <div  class="loading d-flex justify-content-center" *ngIf="this.loading === true">
             <div class="spinner-border text-center" style="width: 400px; height: 400px; color: var(--mainColor);" role="status">        
              </div>
              <img class="spinner-logo" src="assets/Icon.png" alt="">
        </div>
        <section *ngIf="isModelHasValue && this.loading === false" class="results container">
            <div class="results-contents">
                <div class="title">
                    <h2>Diagnosis Results </h2>
                </div>
                <div class="results-item">
                    <h2>the infected parts: </h2>
                    <span>sdnkafnan   </span>
                    <span>sdnkafnan   </span>
                    <span>sdnkafnan   </span>
                </div>
                <div class="results-item">
                    <h2>symptoms:</h2>
                    <div *ngFor="let sympt of selectedsympts " class="sympt"><h3>{{sympt}}</h3></div>
                </div>
                <div class="results-item">
                    <h2>Disease:
                        <span>{{this.Result?.model.e_Name}}</span>
                    </h2>
                </div>
                <div class="results-item">
                    <h2>Control:</h2>
                </div>
            </div>
        </section>
        
          <!-- <mat-progress-spinner mode="indeterminate"></mat-progress-spinner> -->
<!-- 
            <div (click)="hideRelatedS()" *ngIf="organ?.s1 != undefined && isClicked">
                <label [class.wid50]="activeIndex === 1" class="s1" for="s1">
                    <span>{{organ?.s1}}</span>
                    <input [hidden]="activeIndex === 1" type="checkbox" id="s1">
                    <span class="arrows" #arrow *ngIf="activeIndex === 1"><</span>
                </label>
                </div> -->
           
                  <!-- <input type="checkbox"> -->